<style type="text/css">
	.mine {
		width: 100%;
		float: left;
		height: auto;
		min-width: 1180px;
		background:#fff;
	}
	.mine{background: #fff;padding: 0 12%;}
	.mine .right_bottom_list{padding-right:1%;}
	.knowMine {
		width: 1031px;
		height: auto;
		margin: 0 auto;
		text-align: center;
	}
	.contBlock p {
		display: block;
		margin-bottom: 22px;
		text-align: left;
		text-indent: 2em;
		line-height: 37px;
	}

	h1{
		margin-top:30px;
		font-size: 2em;
		display: block;
		font-weight: bold;
	}
	.contBlock{
		margin-top: 20px;
	}
	.contBlock img{width:100%;height:100%;}
</style>
<div id="header" style="width: 100%;z-index: 999;background: #ffffff;    margin-top: -21px;">
	<div class="flex flexalign">
		<div class="flex1 bg_icon">
			<a href="{:url('index/index')}"><img src="/img/icon.png" height="46" width="100"></a>
		</div>
		<div class="flex3 flex justify-content-end">
			<div class="tel">400-960-2880</div>
		</div>
	</div>
	<!-- 导航栏 -->
	<article class="listnavbar flex">
		<!-- 分类 -->
		<div class="fl">
			<p><span class="fa fa-navicon"></span>全部服务分类</p>
			<!--左侧导航-->
			<div class="fl_slider">
				<div class="fl_sliderlist">
					<div v-for="(navigation,index) in navigation_data" @mouseenter="select_right(index)" @mouseleave="select_leave" class="list-content div1">
						<span style="left:4%">{{navigation.service_category_name}}</span>
						<span class="fa fa-angle-right"></span>
					</div>
				</div>
				<div class="fl_slider_right" @mouseenter="select_right" @mouseleave="select_leave">
					<div class="list_info"  v-for="(navigation_rightdata,index) in navigation_data">
						<div class="flex" v-for="list in navigation_rightdata.sub1">
							<div class="navigation_rightdata_title"><a href="javascript:void (0)">   {{list.service_category_name}}</a></div>
							<ul class="flex3 flex" style="border-bottom: 1px solid #E5E5E5;">
								<li v-for="navigation_list in list.sub2" @click="select_service(navigation_list.id)">{{navigation_list.project_name}}</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- 导航栏内容 -->
		<ul class="flex navbae_list justify-content-start1" id="nav_bar">
			<li class=" homepage"><a href="{:url('index/index')}">首页</a></li>
			{foreach name="Think.config.nav" item="list"}
			<li><a href="{$list.url}">{$list.name}</a></li>
			{/foreach}
		</ul>
	</article>
</div>
 
<!-- 知识库主体内容块 -->
	<div class="mine">

		<div class="page_content about_us">
			<ul class="right_bottom_list flex justify-content-end">
				<li class="right_bottom_list_active"><a href="{:url('index/about')}">关于我们</a></li>
				<li><a href="{:url('index/joinus')}">加入我们</a></li>
				<li><a href="{:url('index/attach_us')}">联系我们</a></li>
				<li><a href="{:url('index/cooperation')}">商务合作</a></li>
				<li><a href="{:url('index/links')}">友情链接</a></li>
				<li><a href="{:url('index/incubator')}">孵化器</a></li>
			</ul>
		</div>

		<div class="knowMine">

			<!-- 文章标题 begin-->
			<!--<h1>关于我们-中国领先的一站式创业法律服务机构</h1>-->
			<h1>{$about.detail_title}</h1>

			<div class="contBlock">
				<img width="1060" height="406" src="{$about.detail_pic}" alt="" /><br />
				<p>
					<br />
				</p>
				<p>
					{$about.detail_description}
				</p>


			</div>
			</div>
			</div>
