<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单管理</title>
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
	</head>
	<body>
		<header class="flex">
	      <div class="flex1">1</div>
	      <ul class="flex3 flex">
	        <li><a href="#">登录</a></li>
	        <li><a href="#">免费注册</a></li>
	        <li><a href="#">我的订单</a></li>
	        <li><a href="#">购物车0件</a></li>
	        <li><a href="#">服务商登录</a></li>
	        <li><a href="#">服务商加盟</a></li>
	        <li><a href="#">移动应用</a></li>
	      </ul>
	    </header>
	    <div class="personpage login_tip flex">
	    	<div class="flex1 icon marginauto"><img src="img/icon.png" alt="" /></div>
	    	<div class="flex2 marginauto">
	    		<ul class="flex flexalign">
	    			<li class="col-md-2 flex flex-wrap flexalign">
	    				<p>我的企服通</p>
	    				<p class="back_home">返回首页</p>
	    			</li>
	    			<li class="col-md-2">我的主页</li>
	    			<li class="col-md-2">帐号设置</li>
	    		</ul>
	    	</div>
	    </div>
	    <!--主体内容-->
	    <div class="person_content order_page clearfix">
	    	<div class="col-sm-2 col-sm-offset-1 orderpage_left">
	    		<div class="order_manage">
	    			<p>订单管理</p>
	    		    <ul>
	    		    	<li>我的订单</li>
	    		    	<li>待付款</li>
	    		    </ul>
	    		</div>
	    		<div class="assessment">
	    			<p>我的评价</p>
	    		    <ul>
	    		    	<li>待评价</li>
	    		    	<li>已评价</li>
	    		    </ul>
	    		</div>
	    		<div class="asset_center">
	    			<p>资产中心</p>
	    		    <ul>
	    		    	<li>发票</li>
	    		    </ul>
	    		</div>
	    		<div class="account_settings">
	    			<p>帐号设置</p>
	    		    <ul>
	    		    	<li>基本资料</li>
	    		    	<li>修改手机号</li>
	    		    	<li>修改密码</li>
	    		    </ul>
	    		</div>
	    	</div>		
	    	<div class="person_content_right col-sm-9">
	    		<div class="panel_content">
	    			<ul class="flex flexalign">
			    		<li class="person_content_active">全部订单</li>
			    		<li>待付款</li>
			    		<li>待服务</li>
			    		<li>服务中</li>
			    		<li>服务完成</li>
			    	</ul>
			    	<div class="panel panel-default">
					    <div class="panel-heading">
					        <ul class="flex">
					        	<li>订单编号</li>
					        	<li>产品信息</li>
					        	<li>地区</li>
					        	<li>支付信息</li>
					        	<li>下单时间</li>
					        	<li>当前状态</li>
					        	<li>操作</li>
					        </ul>
					    </div>
					    <div class="panel-body">
					        面板内容111
					    </div>
					</div>
	    		</div>
	    		<div class="panel_content">
	    			<ul class="flex flexalign">
			    		<li class="person_content_active">全部评价</li>
			    		<li>我的评价</li>
			    		<li>待评价</li>
			    		<li>已评价</li>
			    		<li>未评价</li>
			    	</ul>
			    	<div class="panel panel-default">
					    <div class="panel-heading">
					        <ul class="flex">
					        	<li>订单编号</li>
					        	<li>产品信息</li>
					        	<li>地区</li>
					        	<li>支付信息</li>
					        	<li>下单时间</li>
					        	<li>当前状态</li>
					        	<li>操作</li>
					        </ul>
					    </div>
					    <div class="panel-body">
					        面板内容2222222
					    </div>
					</div>
	    		</div>
	    		<div class="panel_content">
	    			<ul class="flex flexalign">
			    		<li class="person_content_active">全部订单</li>
			    		<li>待付款</li>
			    		<li>待服务</li>
			    		<li>服务中</li>
			    		<li>服务完成</li>
			    	</ul>
			    	<div class="panel panel-default">
					    <div class="panel-heading">
					        <ul class="flex">
					        	<li>订单编号</li>
					        	<li>产品信息</li>
					        	<li>地区</li>
					        	<li>支付信息</li>
					        	<li>下单时间</li>
					        	<li>当前状态</li>
					        	<li>操作</li>
					        </ul>
					    </div>
					    <div class="panel-body">
					        发票信息
					    </div>
					</div>
	    		</div>
	    		<div class="panel_content person_content_right person_set_info">
	    			<ul class="flex flexalign">
			    		<li class="person_content_active">基本资料</li>
			    		<li>修改手机号</li>
			    		<li>修改密码</li>
			    	</ul>
			    	<div class="page_info">
			    		<div class="page_info_text">
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 手机号码:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<p>15705117813<span class="btn btn-link">修改</span></p>
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 邮箱:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" id="email" placeholder="">
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 姓名或称呼:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" id="name" placeholder="">
			    				</div>
			    			</div>
			    			<!--邮递地址-->
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span> 邮递地址:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" id="address" placeholder="">
			    				</div>
			    			</div>
			    			<!--所在行业-->
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span> 所在行业:</span>
			    				</div>
			    				<div class="col-sm-9 select">
			    					 <div class="form-group col-sm-5">
									    <select class="form-control">
									      <option value="">默认选择</option>
									    </select>
									  </div>
			    				</div>
			    			</div>
			    			<!--所在城市-->
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span> 所在城市:</span>
			    				</div>
			    				<div class="col-sm-9 select">
			    					 <div class="form-group col-sm-5">
									    <select class="form-control">
									      <option value="">请选择</option>
									    </select>
									  </div>
			    				</div>
			    			</div>
			    			<!--您是怎么知道企服通的-->
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span> 您是怎么知道企服通的:</span>
			    				</div>
			    				<div class="col-sm-9 select">
			    					 <div class="form-group col-sm-5">
									    <select class="form-control">
									      <option value="">请选择</option>
									    </select>
									  </div>
			    				</div>
			    			</div>
			    			<button class="btn btn-info col-sm-2 col-sm-offset-4">保存</button>
			    		</div>
			    	    <div class="page_info_text">
			    	    	<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 登录密码:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" placeholder="">
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 新手机号:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" placeholder="">
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 短信验证码:</span>
			    				</div>
			    				<div class="col-sm-9 flex flexalign">
			    					<input type="text" class="col-sm-3" id="email" placeholder="">
			    					<button class="btn btn-info">点击获取</button>
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    				</div>
			    				<div class="col-sm-9">
			    					<button class="btn btn-success col-sm-3" style="text-align: center;">保存</button>
			    				</div>
			    			</div>
			    	    </div>
			    	    <div class="page_info_text">
			    	    	<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 当前登录密码:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" placeholder="">
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 新密码:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" placeholder="">
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    					<span class=" fa fa-asterisk"></span>
			    					<span> 确认新密码:</span>
			    				</div>
			    				<div class="col-sm-9">
			    					<input type="text" class="col-sm-5" placeholder="">
			    				</div>
			    			</div>
			    			<div class="clearfix flex flexalign">
			    				<div class="col-sm-3">
			    				</div>
			    				<div class="col-sm-9">
			    					<button class="btn btn-success col-sm-3" style="text-align: center;">保存</button>
			    				</div>
			    			</div>
			    	    </div>
			    	</div>
	    		</div>
		    </div>
		</div>
	    <!--js部分-->
		<script src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				//选择订单 评价......
				$('.order_page .orderpage_left>div').on('click',function(){
					$('.order_page .panel_content').eq($(this).index()).show().siblings().hide();
				})
				
				//个人信息选项卡
				$('.page_info_text').eq(0).show().siblings().hide();
				$('.person_set_info>ul li').on('click',function(){
					$(this).addClass('person_content_active').siblings().removeClass('person_content_active')
		            $('.page_info_text').eq($(this).index()).show().siblings().hide();
				})
			})
		</script>
		
	</body>
</html>
