<!doctype html>
<html lang="en">
<head>
	<meta name="baidu-site-verification" content="kUyzKDyieJ" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="快法务,注册公司,代理记账,商标注册,个人社保,企业社保,创业法律服务" />
	<meta name="description" content="快法务专注为中小微企业提供在线法律服务，价格比传统法律服务便宜三分之一，所有律师百分百资质认证，七天不满意退款。提供公司注册,代理记账,商标注册,合同文书,律师函,法律顾问等系列法律服务。" />
	<link rel="dns-prefetch" href="http://cdn.kuaifawu.com" />
	<title>加入我们 - 快法务</title>

		<!--<link rel="stylesheet" href="css/knowledge.css" />-->

	<style type="text/css">
		.knowMine {
			width: 1060px;
			height: auto;
			margin: 0 auto;
			text-align: center;
		}

		.contBlock {
			width: 100%;
			height: auto;
			border-top: 1px solid #dddddd;
			border-bottom: 1px solid #dddddd;
			margin-top: 28px;
			word-wrap: break-word;
			text-align: left;
		}


	</style>
</head>
<body>
 
<!-- 知识库主体内容块 -->
	<div class="mine">
		<div class="knowMine">
			<h1>加入我们</h1>
			<div class="contBlock">
				<p align="center">
	              <img src="/img/joinus_620.png" alt="" />
                </p>

               <p><br /></p><p>
                <span style="color:#666666;">从几个小伙伴，发展到250余人的快法务团队！<br />
            <br />
            在快法务，每一个团队成员都是Partner，我们有着互联网所赐予的“平等”与“扁平化”。Partner之间团结亲密，我们一同学习，一起进步，为一个共同目标矢志不移。“共创· 共担 · 共享”便是我们的合伙人理念。<br />
            <br />
            我们珍惜每一位Partner，所以，我们尽力打造一个充满爱的“场”，从硬件到软件，从物质到精神。这种爱，无处不在。<br />
            <br />
            创业并不是疲惫不堪的身心苦旅，也非一劳永逸的美梦成真。创业，是一次“精神涅槃”。当你在做一件美好的事时，你自己也会变得美好、充实。我们执拗而坚持，带给用户“超预期的服务体验”。我们坚信，终有一天，这个世界会因不懈努力创造美好的人们而改变。<br />
            <br />
            勿忘梦想，奔跑不停。如果你也“在路上”，请加入我们，成为新的快法务Partner。期待与你相遇，与你共同创造！<br />
            <br />
            

            <p style="text-align:justify;font-size:10.5px;font-family:Times;">
                <br />
            </p>

            </div>
		</div>
	</div>

	</body>
</html>